######################################
# STM32CubeIDE / Eclipse
######################################
.metadata/
.settings/
*.launch
*.swp
*~
.project
.cproject

######################################
# Build folders
######################################
Debug/
Release/
build/
*/Debug/
*/Release/

######################################
# Generated binaries
######################################
*.elf
*.hex
*.bin
*.map
*.lst
*.o
*.a
*.d
*.su

######################################
# STM32CubeMX generated
######################################
*.ioc.autosave

######################################
# Linker & compiler temp files
######################################
*.log
*.tmp

######################################
# OS / Editor files
######################################
.DS_Store
Thumbs.db
.vscode/
.idea/

######################################
# CubeIDE internal
######################################
.mxproject
